    
    /* text-content */

.text-content-up {
    font-size: 1.625em;
    padding-top: 60px;
    color: #ffffff;
}
.text-content-down {
    font-size: 1.5625em;
    color: #ffffff;
    margin-top: 65px;
}

    /* boxeses */

.box {
    background-color: #ffffff;    
    -webkit-border-radius:10px 10px 5px 5px;
       -moz-border-radius:10px 10px 5px 5px;
            border-radius:10px 10px 5px 5px;
    behavior: url(/omsk-it/resources/css/pie.htc);
    position: relative;  
    zoom: 1; 
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-top: 60px;
    padding-bottom: 10px;
}
.box-content {    
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}
.title {
    height: auto;
    line-height: 200%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 33px;
    padding-right: 33px;
    font-size: 1.8125em;
    color: #fefcf9;
    -webkit-border-radius:5px 5px 0 0;
       -moz-border-radius:5px 5px 0 0;
            border-radius:5px 5px 0 0;
    behavior: url(/omsk-it/resources/css/pie.htc);
    position: relative;  
    zoom: 1; 
    background: #10b7c5;
    /*filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0ba1ae', endColorstr='#10b7c5'); /* IE6 & IE7 */
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0ba1ae', endColorstr='#10b7c5')"; /* IE8 */
    background: -webkit-gradient(linear, left bottom, left top, from(#0ba1ae), to(#10b7c5));
    background: -webkit-linear-gradient(bottom, #0ba1ae, #10b7c5);
    background: -o-linear-gradient(bottom, #0ba1ae, #10b7c5);
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
}

.long-line {
    display: inline-block;
    vertical-align: middle;
    width: 830px;
}

    /* lists */

.list {
    line-height: 35px;
    font-size: 1.25em;
}
ol {
    list-style: none;
    padding-left: 20px;
    padding-bottom: 35px;
}
.list-num {
    border: solid 1px transparent;
    -webkit-border-radius:35px;
       -moz-border-radius:35px;
            border-radius:35px;
    behavior: url( /omsk-it/resources/css/pie.htc);
    position: relative;  
    zoom: 1;  
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background: #10b7c5;
    background: -webkit-gradient(linear, left bottom, left top, from(#0ba1ae), to(#10b7c5));
    background: -webkit-linear-gradient(bottom, #0ba1ae, #10b7c5);
    background: -o-linear-gradient(bottom, #0ba1ae, #10b7c5);
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
    color: #ffffff;
    margin: 9px 25px 9px 9px;
}

    /* photo */

.photo {
    margin: 0 auto;
    height: 122px;
    width: 122px;
    padding-top: 5px;    
    -webkit-border-radius:122px;
       -moz-border-radius:122px;
            border-radius:122px;
    behavior: url( /omsk-it/resources/css/pie.htc);
    position: relative;  
    zoom: 1;  
}

.report-content .photo { /* photo photo-small */
    width: 80px;
    height: 80px;
    float: left;
}

.reporter-about .photo { /* photo photo-big */
    width: 190px;
    height: 190px;
    float: left;
}

    /* actions */

.action {
    font-size: 1.6875em;
    color: #ffffff;
}
.action-text {
    padding: 70px 35px 20px 35px;
}

.buttons {
    text-align: center;
}
.button {
    position: relative;     
    height: 270px;
    width: 310px;
    color: #2d3e50;
    border-color: transparent;
    -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
    behavior: url( /omsk-it/resources/css/pie.htc);
    position: relative;  
    zoom: 1;  
    -webkit-box-shadow: 0 0 10px;
            box-shadow: 0 0 10px;
    background-color: #ffffff;
}
.button-img {
    position: absolute;    
    width: 310px;
    padding-top: 35px;
}
.button-img:hover {
    height: 255px;
    padding-top: 15px;
}
.img-center {
    display: block;
    margin: auto;
    padding-top: 150px;
}

    /** to main page **/

.next-event {
    padding-top: 45px;
    padding-bottom: 50px;
    text-align: center;    
    color: #ffffff;
}
.event-title {
    font-size: 2.125em;
}
.event-date {
    font-weight: 700;    
}
.event-location {
    color: #ffffff;
    padding-bottom: 2px;
    border-bottom: dashed 2px;
}
.next-event-text {    
    font-size: 1.25em;
    line-height: 30px;
}

.subscribe-center {    
    width: 470px;
    margin: auto;
    padding-top: 10px;

}
.events-history {
    font-size: 1.5em;
    padding: 25px 35px 0 35px;
    color: #ffffff;
}

    /** to rules page**/

.project-name {
    color: #06eaff;
}

    /** to-reporters page **/

.center-div {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.questions {
    font-size: 1.5625em;
    color: #ffffff;
    margin-bottom: -40px;
}

    /** to-companies page **/

.advertisement {
    padding-top: 50px;
    color: #ffffff;
}

.advertisement-title {
    font-size: 2.1875em;
}

    
