/* event-info*/
.next-event {
    padding-top: 45px;
    padding-bottom: 50px;
    text-align: center;    
    color: #ffffff;
}
.event-title {
    font-size: 34px;
}
.event-date {
    font-weight: 700;    
}
.event-location {
    color: #ffffff;
    padding-bottom: 2px;
    border-bottom: dashed 2px;
}
.next-event-text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}
.subscribe-center {    
    width: 470px;
    margin-left: auto;
    margin-right: auto;

}

.box {
    background-color: #ffffff;
    border-radius: 10px 10px 5px 5px;
    -webkit-border-radius: 10px 10px 5px 5px; /*Chrome 4.0, Safari 5.0, iOS*/
    -moz-border-radius: 10px 10px 5px 5px; /*Firefox 4.0*/
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-top: 60px;
    min-height: 370px;
    padding-bottom: 10px;
}
.title {
    height: auto;
    line-height: 200%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 29px;
    color: #fefcf9;
    padding-left: 33px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0; /*Chrome 4.0, Safari 5.0, iOS*/
    -moz-border-radius: 5px 5px 0 0; /*Firefox 4.0*/
    background: #10b7c5;
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
}

.events-history {
    font-size: 24px;
    padding: 25px 35px 0 35px;
    color: #ffffff;
}