.subscription {
    margin-top: 15px;
    float: left;
}
.subscription-title {
    font-size: 24px;
    padding-bottom: 12px;
}
.input-email {
    font-family: inherit;
    font-size: 20px;
    color: #2d3e50;
    width: 254px;
    height: 38px;
    background-color: #ffffff;
    border: solid 2px #aaf0f7;
    border-radius: 5px;
    -webkit-border-radius: 5px; /*Chrome 4.0, Safari 5.0, iOS*/
    -moz-border-radius: 5px; /*Firefox 4.0*/
    padding-left: 15px;
    padding-right: 15px;
}
.input-email:focus {
    outline: none;
    border-color: #1a737c;
}

.subscribe-response-top {
    text-align: left;
    margin-left: 315px;
    font-size: 20px;
}
