.pos-btn-close-popup {
    position: absolute;
    top: 13px;
    left: 420px;
}
.margin-left-344 {
    margin-left: 344px;
}

.reset-password-form-container {
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 200;
    top: 0;
    left: 0;
}

.popup-form-text {
    /*margin-left: 25px;*/
    margin-bottom: 25px;
    /*padding-right: 28px;*/
    font-size: 15px;
}

.popup-btn-container {
    /*margin: auto;*/
    margin-top: 25px;
    /*width: 245px;*/
}

.reset-password-response {
    margin-left: 102px;
    margin-top: -25px;
    /*margin-bottom: 15px;*/
    height: 10px;
}

.reset-password-notification {
    margin-left: 102px;
    margin-top: -25px;
    /*margin-bottom: 15px;*/
}