
.login-form {
    margin-top: -7px;
}

.vk-logo {
    width: 30px;
    height: 30px;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    margin-top: 8px;
    margin-bottom: -10px;
    margin-left: 4px;
}
.vk-enter {
    margin-top: 1px;
    margin-left: 4px;
}

    /* login-form on top */

.float-container {
    height: 53px;
    width: 100%;
    margin-top: 15px;
}

.login-form-plugin-container {
    float:right;
    width: 450px;
}

.login-input-container {
    text-align: right;
}

.login-form-plugin-container .href {
    text-align: right;
}

.login-form-plugin-container .href .inline-item {
    display: inline-block;
    vertical-align: inherit;
}

.login-form-plugin-container .logged-name {
    float: right;
    margin-top: 4px;
    margin-right: 10px;
}

    /* login-failed */

.forgot-pass-container{
    width: 435px;
}

.forgot-password { 
    text-align: right;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 17px;    
    text-decoration: underline;    
}

    /* confirm-reg */

.registration-confirm-container {
    background-color: white;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.registration-confirm-text {
    font-size: 25px;
    top: 40%;
}

/*
.messageEmailConfirm {
    margin: 0 auto;
    width: 50%;
}

a:visited .login-form-open-button {
    color:#FFFFFF;
}
*/