.new-company-form-container {
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 200;
    top: 0;
    left: 0;
}

.new-company-input-container {
    left: 34%;
    top: 28%;
    width: 555px;
    height: 285px;
    position: fixed;
    background: white;
    margin-left: 5px;
    background-position: left bottom;
    background-repeat: no-repeat;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.new-company-site-title {
    width: 185px;
    margin-left: 25px;
}

.new-company-name-title {
    width: 185px;
    margin-left: 25px;
}

.new-company-title {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
    background: -moz-linear-gradient(to top, #0ba1ae, #10b7c5);
    height: 47px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 16px;
    font-size: 25px;
    color: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
}

.new-company-add-confirm {
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    padding-top: 1px;
    display: inline-block;
    border-radius: 5px;
    height: 44px;
    width: 155px;
    vertical-align: top;
    text-align: center;
    line-height: 2em;
    margin-left: 125px;
    margin-right: 30px;
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
    background: -moz-linear-gradient(to top, #0ba1ae, #10b7c5);
}

.new-company-add-open {
    padding-top: 7px;
    margin-top: -20px;
    width: 130px;
    height: 35px;
    color: #FFFFFF;
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
    background: -moz-linear-gradient(to top, #0ba1ae, #10b7c5);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.new-company-add-open:hover {
    background:linear-gradient(to bottom, #18cfdf, #0ba9b7);
    background: -moz-linear-gradient(to bottom, #18cfdf, #0ba9b7);
}

.new-company-add-confirm:hover {
    background: linear-gradient(to bottom, #18cfdf, #0ba9b7);
}

.new-company-add-confirm:active {
    background: #0ba9b7;
    background: linear-gradient(to top, #18cfdf, #0ba9b7);
}

.close-new-company-form {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 8px;
}

.close-new-company-form:hover {
    border-bottom: solid 1px;
}

.js-new-company-response {
    margin-left: 242px;
}