.new-company-form-container {
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 200;
    top: 0;
    left: 0;
}

.new-company-input-container {
    left: 34%;
    top: 28%;
    width: 563px;
    height: 300px;
    position: fixed;
    background: white;
    margin-left: 5px;
    background-position: left bottom;
    background-repeat: no-repeat;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.new-company-title {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
    background: -moz-linear-gradient(to top, #0ba1ae, #10b7c5);
    height: 47px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 16px;
    font-size: 25px;
    color: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
}

.js-new-company-response {
    margin-left: 242px;
}