.header {
    height: 160px;
    background-color: #fdfaf5;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
            box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.header .page {
    padding-top: 1px;
    padding-bottom: 14px;
}

/* logo */

.site-logo-container {
    float:left;
}
.logo-title {
    text-decoration: none;
    margin-left: 64px;
    display: block;
}
.logo-title-top {
    color: #0eaebb;
    font-size: 1.5625em;
    margin-top: 12px;
}
.logo-title-bottom {
    font-size: 0.8125em;
    color: #000000;
}
.logo-img {
    position: absolute;
}

/* navigation bar*/
.site-nav {
    margin-left: 150px;
    float:left;
}
.menu-item {
    list-style-type: none;
    height: 54px;
    line-height: 52px;
    padding: 0 27px;
    font-size: 1.25em;
    color: #2d3e50;
}
.menu-item:hover {
    color: #fff;
    background: #10b7c5;
    background: -webkit-gradient(linear, left top, left bottom, from(#0ba1ae), to(#10b7c5));
    background: -webkit-linear-gradient(top, #0ba1ae, #10b7c5);
    background: -o-linear-gradient(top, #0ba1ae, #10b7c5);
    background: linear-gradient(to bottom, #0ba1ae, #10b7c5);
    border-color: #0faebd;
    -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
}

/* social icons */
.social-icon {
    width: 30px;
    height: 30px;
    margin-top: 25px;
    margin-left: 8px;
}
.social-ref {
   float: right;
}
.twitter {
    height: 30px;
    background: url(../images/twitter-minor-logo.png) no-repeat;
}
.twitter:hover {
    background: url(../images/twitter-minor-logo2.png) no-repeat;
}
.vkontakte {
    height: 30px;
    background: url(../images/vk-minor-logo.png) no-repeat;
}
.vkontakte:hover {
    background: url(../images/vk-minor-logo2.png) no-repeat;
}