.title-text {
    font-size: 1.125em;
    font-weight: normal;
}

.title .event-location {
    font-size: 1.125em;
    border: none;
}
.title .event-location:hover {
    border-bottom: solid 1px;
}


.center-item {
    margin-right: 0.539%;
    margin-left: 0.539%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 32%;
}

/*.report .bottom-line {
    border: none;
    background-color: #dedede;
    color: #dedede;
    height: 1px;
    margin: 0 20px;
}
*/

.reporter {
    width: 207px;
    margin-bottom: 35px;
    text-align: center;
}

.reporter-title{
    margin-bottom: 10px
}

.description-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5em; 
}