@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="checkbox"] {
        background: url(../images/checkbox.png); /* Переключатель выключен */
        height: 18px; /* Высота картинки */
        width: 18px; /* Ширина картинки */
        margin: 15px 20px;
        vertical-align: middle;
        -webkit-appearance: none; /* Прячем чекбокс */
        border: none;
        cursor: pointer; /* Курсор в виде руки */
    }
    input[type="checkbox"]:checked, input[type="radio"]:checked {
        background-position: 0 -18px; /* Переключатель включен */
        border: none;
    }
}

input:-moz-placeholder {
    color: #c0c0c0;
}

.open {
    display: block;
}

.close {
    display: none;
}