.forgot-password {
    color: #10b7c5;
    text-decoration: underline;
    margin-left: 300px;
    margin-bottom: 8px;
    cursor: pointer;
}

.reset-password-form-container {
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 200;
    top: 0;
    left: 0;
}

.popup-form-text {
    margin-left: 25px;
    margin-bottom: 21px;
    padding-right: 28px;
    font-size: 15px;
}

.reset-password-response {
    margin-left: 130px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.reset-password-notification {
    margin-left: 130px;
    margin-top: -10px;
    margin-bottom: 15px;
}