body {
    margin: 0;
    padding: 0;
    min-width: 960px;
    background-image: url(../images/pattern.jpg);
    font-family: 'PT Sans', sans-serif;
    color: #2d3e50;
}

.page {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;

}
img {
    border: 0; /* for IE hide blue border*/
}
.inline-item {
    display: inline-block;
    vertical-align: top;
}

/** hedear **/
.light {
    min-width: 960px;
    height:518px;        
    background-image: url(../images/light.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header {
    height: 118px;
    background-color: #fdfaf5;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.header .page {
    padding-top: 20px;
    padding-bottom: 14px;
}

.logo-title {
    text-decoration: none;
    margin-left: 64px;
    display: block;
}
.logo-title-top {
    color: #0eaebb;
    font-size: 25px;
    margin-top: 12px;
}
.logo-title-bottom {
    font-size: 13px;
    color: #000000;
}
.logo-img {
    position: absolute;
}

.menu-item {
    list-style-type: none;
    height: 54px;
    line-height: 52px;
    padding: 0 27px;
    font-size: 20px;
    color: #2d3e50;
}
.menu-item:hover {
    color: #ffffff;
    background: #10b7c5;
    background: linear-gradient(to bottom, #0ba1ae, #10b7c5);
    border-color: #0faebd;
    border-radius: 5px;
    -webkit-border-radius: 5px; /*Chrome 4.0, Safari 5.0, iOS*/
    -moz-border-radius: 5px 5px; /*Firefox 4.0*/
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 25px 5px;
}
.twitter {height: 30px;
    background: url(../images/twitter-minor-logo.png) no-repeat;
}
.twitter:hover {
    background: url(../images/twitter-minor-logo2.png) no-repeat;
}
.vkontakte {height: 30px;
    background: url(../images/vk-minor-logo.png) no-repeat;
}
.vkontakte:hover {
    background: url(../images/vk-minor-logo2.png) no-repeat;
}

/** content **/
/* title */
.next-event {
    padding-top: 45px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 34px;
    color: #ffffff;
}
.event-date {
    font-weight: 700;    
}
.event-location {
    color: #ffffff;
    padding-bottom: 2px;
    border-bottom: dashed 2px;
}

.button-submit {
    margin-top: 30px;
    padding: 15px 40px;
    font-size: 29px;
    text-align: center;
    line-height: 100%;
    color: #ffffff;
    border: outset 1px #38c2cf;
    border-radius: 5px;
    -webkit-border-radius: 5px; /*Chrome 4.0, Safari 5.0, iOS*/
    -moz-border-radius: 5px; /*Firefox 4.0*/
    background: #10b7c5;
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
}

.button-submit:hover {
    background: #18cfdf;
    background: linear-gradient(to bottom, #18cfdf, #0ba9b7);
}

.button-submit:active {
    background: #0ba9b7;
    background: linear-gradient(to top, #18cfdf, #0ba9b7);
}
.registration {
    width: 220px;
    height: 25px;
    font-size: 24px;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


/* event program */
.title {
    font-size: 29px;
    color: #fefcf9;
    height: 87px;
    line-height: 87px;
    padding-left: 33px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0; /*Chrome 4.0, Safari 5.0, iOS*/
    -moz-border-radius: 5px 5px 0 0; /*Firefox 4.0*/
    background: #10b7c5;
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
}
.description-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px; 
}
.description-title a:hover {
    text-decoration: underline;
}

.name {
    margin: 0;
    font-size: 20px;
}
.name a:hover{
    text-decoration: underline;
}

.position a:hover{
    text-decoration: underline;
}

.box {
    background-color: #ffffff;
    border-radius: 10px 10px 5px 5px;
    -webkit-border-radius: 10px 10px 5px 5px; /*Chrome 4.0, Safari 5.0, iOS*/
    -moz-border-radius: 10px 10px 5px 5px; /*Firefox 4.0*/
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.report {
    color: #2d3e50;
}
.report a {
    color: #2d3e50;
}
.reporter a {
    color: #2d3e50;
}

.reporter {
    width: 207px;
    margin-bottom: 35px;
    text-align: center;
}

.description {
    max-width: 743px;
}

.report .bottom-line {
    border: none;
    background-color: #dedede;
    color: #dedede;
    height: 1px;
    margin: 0 20px;
}

.photo {
    width: 122px;
    height: 122px;
    border-radius: 122px;
    -webkit-border-radius: 122px; /*Chrome 4.0, Safari 5.0, iOS*/
    -moz-border-radius: 122px; /*Firefox 4.0*/
    margin: 0 auto;
    padding-top: 5px;    
}

.events-history {
    font-size: 24px;
    padding: 25px 35px 0 35px;
    color: #ffffff;
}
.events-history a {    
    text-decoration: underline;
    color: #ffffff;
}


/* buttons */

.action {
    font-size: 27px;
    color: #ffffff;
}
.action-text {
    padding: 70px 35px 20px 35px;
}

.buttons {
    text-align: center;
}
.button {
    width: 310px;
    height: 270px;
    color: #2d3e50;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px; /*Chrome 4.0, Safari 5.0, iOS*/
    -moz-border-radius: 5px; /*Firefox 4.0*/
    border-color: transparent;
    box-shadow: 0 0 10px;
    position: relative;     
}
.img-center {
    display: block;
    margin: auto;
    margin-top: 150px;
}
.button-img {
    position: absolute;
    width: 310px;
    height: 235px;
    padding-top: 35px;
}
.button-img:hover {
    height: 255px;
    padding-top: 15px;
}

/** footer **/
.footer {
    height: 271px;
    background-color: #0c93a1;
    margin-top: 90px;
    padding-top: 31px;
    color: #ffffff;
}

.subscription {
    margin-top: 15px;
    float: left;
}

.subscription-title {
    font-size: 24px;
    padding-bottom: 12px;
}

.input-email {
    font-family: inherit;
    font-size: 20px;
    color: #2d3e50;
    width: 254px;
    height: 38px;
    background-color: #ffffff;
    border: solid 2px #aaf0f7;
    border-radius: 5px;
    -webkit-border-radius: 5px; /*Chrome 4.0, Safari 5.0, iOS*/
    -moz-border-radius: 5px; /*Firefox 4.0*/
    padding-left: 15px;
    padding-right: 15px;
}

.input-email:focus {
    outline: none;
    border-color: #1a737c;
}

.subscribe-button {
    font-family: inherit;
    font-size: 21px;
    color: #2d3e50;
    width: 156px;
    height: 47px;
    margin-left: 17px;
    background-color: #aaf0f7;
    border: outset 1px #8adde6;
    border-radius: 5px;
    -webkit-border-radius: 5px; /*Chrome 4.0, Safari 5.0, iOS*/
    -moz-border-radius: 5px; /*Firefox 4.0*/
    cursor: pointer;
}


.subscribe-button:hover {
    background: #18cfdf;
    background: linear-gradient(to bottom, #18cfdf, #0ba9b7);
}

.subscribe-button:active {
    background: #0ba9b7;
    background: linear-gradient(to top, #18cfdf, #0ba9b7);
}

.tracking {
    float: right;
    font-size: 16px;
}

.tracking-title {
    line-height: 61px;
    margin-right: 20px;
    font-size: 16px;
}


.site-minor-logo {
    float: right;
    width: 58px;
    height: 128px;
    margin-left: 33px;
}

.copyright {
    clear: both;
    margin-top: 20px;
}

/* index2 */
.next-event-text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}
.next-event-text a {
    color: #ffffff;
    border-bottom: solid 1px;
    font-weight: bold;
}

.subscribe-form .button-submit {
    font-size: 21px;
     height: 47px;
}


/** archive page **/
.box {
    margin-top: 60px;
}
.reporter-title{
    margin-bottom: 10px
}
.title-text {
    font-size: 18px;
    font-weight: normal;
}
.title-date {
    font-weight: bold;
}

.title .event-location {
    font-size: 18px;
    border: none;
}
.title .event-location:hover {
    border-bottom: solid 1px;
}

.center-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 315px;
}

/** repot page **/
.report-content {
    padding: 20px 45px;
    color: #2d3e50;
}
.report-content .photo {
    width: 80px;
    height: 80px;
    float: left;
}
.report-content .reporter {
    width: 100%;
}

.personal {
    float: left;
    margin-top: 15px;
    padding-left: 15px;
    text-align: left;
}

.report-content .description {
    font-size: 20px;
}

.report-content .presentation {
    margin-top: 40px;
}

.report-content .video {
    margin-top: 50px;
}

.report-content .reporter-other-reports {
    margin-top: 70px;
}

.reporter-reports-title {
    font-size: 26px;
}

.reporter-reports-refs a {
    font-size: 20px;
    font-weight: 700;
    color: #2d3e50;
}

.reporter-reports-refs a:hover {
    border-bottom: solid 1px;
}

/** reporter **/
.reporter-about {
    min-height: 200px;
    margin-left: 60px;
    margin-top: 40px;
}
.reporter-about .photo {
    width: 190px;
    height: 190px;
    float: left;
}
.short-description {
    font-size: 20px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    max-width: 450px;
}
.short-description .position {
    color: #00b7c8;
}

.reports-history {
    margin-top: 50px;
    margin-left: 50px;
}
.reports-history .description{
    max-width: 540px;
    margin-left: 15px;
}
.reports-history .report {
    border-bottom: solid 1px #dedede;
    padding-bottom: 38px;
    padding-top: 33px;
}

/** rules **/

.about {
    padding-top: 70px;
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    color: #ffffff;
}
.project-name {
    color: #06eaff;
}
.list {
    line-height: 35px;
    font-size: 20px;
}

ol {
    list-style: none;
    padding-left: 20px;
    padding-bottom: 35px;
}

.rules-text a {
    text-decoration: none;
    color: #2d3e50;
}

.rules-text a:hover {
    border-bottom: solid 1px;
}

.list-num {
    border: solid 1px transparent;
    border-radius: 35px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background: #10b7c5;
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
    color: #ffffff;
    margin: 9px 25px 9px 9px;
}

.blue-ref a {
    color: #00b7c8;
    text-decoration: none;
}
.blue-ref a:hover {
    border-bottom: solid 1px;
}

.long-line {
    display: inline-block;
    vertical-align: middle;
    width: 830px;
}


/** to-companies page **/
.advertisement {
    padding-top: 50px;
    color: #ffffff;
}

.advertisement-title {
    font-size: 35px;
}

.text-content-up {
    font-size: 26px;
    padding-top: 60px;
    color: #ffffff;
}
.text-content-down {
    font-size: 25px;
    color: #ffffff;
    margin-top: 65px;
/*    margin-bottom: -40px*/
}


/** to-reporters page **/

.center-div {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.questions {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: -40px;
}

/** register page **/
.form-close-button {
    height: 19px;
    width: 19px;
    float: right;
    margin: 10px;
    cursor: pointer;
    background: url(../images/close-button.png);
}

.attention {
    color: #f06009;
}

.form-content {
    margin-left: 30px;
    margin-top: 25px;
}

.form-info {
    font-size: 15px;
    padding-bottom: 30px;
    vertical-align: top;
}

.field {
    font-size: 20px;
    margin-bottom: 10px;
}

.left-label {
    width: 120px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;
}

.small-input {
    height: 35px;
    margin-left: 25px;
}

.field-info {
    font-size: 15px;
    font-weight: normal;
    display: inline-block;
    max-width: 300px
}

.small-input {
    font-size: 20px;
    color: #2d3e50;
    width: 254px;
    height: 38px;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    border: solid 2px #aaf0f7;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.small-input:focus {
    outline: none;
    border-color: #1a737c;
}

.long .left-label {
    width: 200px;
    margin-bottom: 10px;
}
.long .small-input {
    margin-left: 153px;
}

/* guest form */
.guest-form-div {
    display: none;
}

.container-form-guest {
    position: absolute;
    top: 165px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 925px;
    z-index: 100;
}

.overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
}

.guest-form .field {
    font-size: 20px;
    line-height: 40px;
}

.container-form {
    background-color: #ffffff;
    border-radius: 10px 10px 5px 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="radio"] {
        background: url(../images/radio-button.png); /* Переключатель выключен */
        height: 18px; /* Высота картинки */
        width: 18px; /* Ширина картинки */
        margin: 15px 20px;
        vertical-align: middle;
        -webkit-appearance: none; /* Прячем чекбокс */
        border: none;
        cursor: pointer; /* Курсор в виде руки */
    }
    input[type="radio"]:checked {
        background-position: 0 -18px; /* Переключатель включен */
        border: none;
    }
}


/** apply-for-report**/
.top-label {
    width: 860px;
    margin-bottom: 0px;
}
.long-info {
    max-width: 860px;
}
.wide-input {
    display: block;
    width: 860px;
    margin-left: 0px;
}
.big-input {
    height: 150px;
}

.reset-button {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.reset-button:hover {
    border-bottom: solid 1px;
}

.reset-button:active {
    border-bottom: none;
}

.form-content .button-submit {
    margin-right: 50px;
    margin-bottom: 50px;
}



/** suggest **/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="checkbox"] {
        background: url(../images/checkbox.png); /* Переключатель выключен */
        height: 18px; /* Высота картинки */
        width: 18px; /* Ширина картинки */
        margin: 15px 20px;
        vertical-align: middle;
        -webkit-appearance: none; /* Прячем чекбокс */
        border: none;
        cursor: pointer; /* Курсор в виде руки */
    }
    input[type="checkbox"]:checked, input[type="radio"]:checked {
        background-position: 0 -18px; /* Переключатель включен */
        border: none;
    }
}