body {
    margin: 0;
    padding: 0;
    min-width: 960px;
    background-image: url(../images/pattern.jpg);
    font-family: 'PT Sans', sans-serif;
    color: #2d3e50;
}

.page {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.inline-item {
    display: inline-block;
    vertical-align: top;

}

a {
    text-decoration: none;

}

img {
    border: 0; /* for IE hide blue border*/
}

.photo {
    width: 122px;
    height: 122px;
    border-radius: 122px;
    -webkit-border-radius: 122px; /*Chrome 4.0, Safari 5.0, iOS*/
    -moz-border-radius: 122px; /*Firefox 4.0*/
    margin: 0 auto;
    padding-top: 5px;    
}

.margin-top-8 {
    margin-top: -8px;
}

.text-content-up {
    font-size: 26px;
    padding-top: 60px;
    color: #ffffff;
}
.text-content-down {
    font-size: 25px;
    color: #ffffff;
    margin-top: 65px;
/*    margin-bottom: -40px*/
}

.list {
    line-height: 35px;
    font-size: 20px;
}
ol {
    list-style: none;
    padding-left: 20px;
    padding-bottom: 35px;
}
.list-num {
    border: solid 1px transparent;
    border-radius: 35px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background: #10b7c5;
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
    color: #ffffff;
    margin: 9px 25px 9px 9px;
}
.long-line {
    display: inline-block;
    vertical-align: middle;
    width: 830px;
}

.blue-ref a {
    color: #00b7c8;
    text-decoration: none;
}
.blue-ref a:hover {
    border-bottom: solid 1px;
}

/*form*/

/** header **/
/*по структуре - обертка для всего содержимого,
  по смыслу - свет от заголовка*/
.light {
    min-width: 1100px;
    height:518px;        
    background-image: url(../images/light.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/** rules **/

.project-name {
    color: #06eaff;
}

/*UNUSED
.about {
    padding-top: 70px;
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    color: #ffffff;
}
.rules-text a {
    text-decoration: none;
    color: #2d3e50;
}
.rules-text a:hover {
    border-bottom: solid 1px;
}
*/

/** to-companies page **/
.advertisement {
    padding-top: 50px;
    color: #ffffff;
}

.advertisement-title {
    font-size: 35px;
}


/** to-reporters page **/

.center-div {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.questions {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: -40px;
}

/** register page **/

/* guest form */
.guest-form-div {
    display: none;
}

.container-form-guest {
    position: absolute;
    top: 165px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 925px;
    z-index: 100;
}

.overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
}

.guest-form .field {
    font-size: 20px;
    line-height: 40px;
}

.container-form {
    background-color: #ffffff;
    border-radius: 10px 10px 5px 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="radio"] {
        background: url(../images/radio-button.png); /* Переключатель выключен */
        height: 18px; /* Высота картинки */
        width: 18px; /* Ширина картинки */
        margin: 15px 20px;
        vertical-align: middle;
        -webkit-appearance: none; /* Прячем чекбокс */
        border: none;
        cursor: pointer; /* Курсор в виде руки */
    }
    input[type="radio"]:checked {
        background-position: 0 -18px; /* Переключатель включен */
        border: none;
    }
}


/** apply-for-report**/


/** suggest **/

/*Error pages*/
.error-message {
    color: #2d3e50;
    font-size: 22px;
    text-align: center;
}

/*New company form*/

/*jQuery autocomplete*/

body .ui-menu-item .ui-corner-all {
    color: #FFFFFF;
}

body .ui-menu {
    border: none;
}

body .ui-menu .ui-menu-item {
    background-color: #0eaed0;
    color: #FFFFFF;
}

body .ui-menu  .ui-menu-item .ui-state-focus {
    border: none;
    color: #FFFFFF;
    background: #17c1d0;
}

