body {
    margin: 0;
    padding: 0;
    background-image: url(../images/pattern.jpg);
}

button {
    cursor: pointer;
}

.header .site-logo,
.header .site-nav,
.header .social-ref,
.report .reporter,
.report .description,
.footer .subscription,
.footer .tracking,
.footer .site-minor-logo,
.tracking .title,
.tracking .social-ref,
.site-nav li {
    display: inline-block;
    vertical-align: top;
}

.page {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.light {
    background-image: url(../images/light.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 518px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.resource-not-found {
    font-family: 'PT Sans', sans-serif;
}

.response {
    font-family: 'PT Sans', sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    height: 10px;
}

.header {
    height: 118px;
    background-color: #fdfaf5;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.header .site-logo {
    width: 222px;
    height: 119px;
    margin-top: 20px;
}

.header .site-logo a {
    text-decoration: none;
}

.header .site-logo img {
    position: absolute;
}

.site-logo .title,
.site-logo .minor-title {
    display: block;
    margin-left: 64px;
}

.site-logo .title {
    color: #0eaebb;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    margin-top: 12px;
}

.site-logo .minor-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #000000;
    /*color: #2d3e50;*/
}

.header .site-nav {
    margin-left: 50px;
    margin-top: 31px;
}

.header .site-nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.header .site-nav a {
    text-decoration: none;
    border: solid 1px transparent;
    display: block;
    height: 52px;
    line-height: 52px;
    padding: 0 27px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    margin-left: -3px;
    color: #2d3e50;
    border-radius: 5px;
}

.header .site-nav a:hover {
    color: #ffffff;
    background: #10b7c5;
    background: linear-gradient(to bottom, #0ba1ae, #10b7c5);
    border-color: #0faebd;
}

.header .social-ref {
    height: 30px;
    margin-top: 45px;
    margin-left: 12px;
}

.header .social-ref a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 12px;
}

.social-ref .twitter {
    background: url(../images/twitter-minor-logo.png) no-repeat;
}

.social-ref .twitter:hover {
    background: url(../images/twitter-minor-logo2.png) no-repeat;
}

.social-ref .vkontakte {
    background: url(../images/vk-minor-logo.png) no-repeat;
}

.social-ref .vkontakte:hover {
    background: url(../images/vk-minor-logo2.png) no-repeat;
}

.content .next-event-registration {
    text-align: center;
}

.next-event-registration .title {
    font-family: 'PT Sans', sans-serif;
    font-size: 34px;
    color: #ffffff;
    /*width: 884px;*/
    padding: 0 20px;
    height: 181px;
    margin: 0 auto;
    line-height: 181px;
}

.title .line {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.line .event-date {
    font-weight: 700;
}

.line .event-location {
    border-bottom: dashed 2px;
}

.line .event-location a {
    text-decoration: none;
    color: #ffffff;
}

.next-event-registration .join-button button {
    width: 273px;
    height: 61px;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    color: #ffffff;
    border: outset 1px #38c2cf;
    border-radius: 5px;
    background: #10b7c5;
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
}

.next-event-registration .join-button button:hover {
    background: #18cfdf;
    background: linear-gradient(to bottom, #18cfdf, #0ba9b7);
}

.next-event-registration .join-button button:active {
    /*border: inset 1px #38c2cf;*/
    background: #0ba9b7;
    background: linear-gradient(to top, #18cfdf, #0ba9b7);
}

.content .next-event-program,
.content .past-event-program,
.content .detail-report,
.content .reporter-review,
.content .recomendations,
.content .apply-form {
    background-color: #ffffff;
    border-radius: 10px 10px 5px 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.next-event-program .program-header,
.past-event-program .program-header,
.detail-report .report-header,
.reporter-review .review-header,
.recomendations .title,
.apply-form .title {
    font-family: 'PT Sans', sans-serif;
    font-size: 29px;
    color: #fefcf9;
    font-weight: 700;
    height: 87px;
    line-height: 87px;
    padding-left: 33px;
    padding-right: 33px;
    border-radius: 5px 5px 0 0;
    background: #10b7c5;
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
    margin-top: 61px;
}

.next-event-program .program-content,
.past-event-program .program-content,
.detail-report .report-content,
.reporter-review .review-content,
.recomendations .text,
.apply-form .form-content {
    color: #2d3e50;
}

.report .bottom-line {
    border: none;
    background-color: #dedede;
    color: #dedede;
    height: 1px;
    margin: 0 20px;
}

.report .reporter {
    width: 207px;
    height: 217px;
    text-align: center;
    margin-top: 37px;
}

.reporter .name {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.reporter .name a {
    text-decoration: none;
    color: #2d3e50;
}

.reporter .name a:hover {
    text-decoration: underline;
}

.reporter .position {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

.reporter .position a {
    text-decoration: none;
    color: #2d3e50;
}

.reporter .position a:hover {
    text-decoration: underline;
}

.reporter .photo {
    width: 122px;
    height: 122px;
    line-height: 122px;
    margin: 0 auto;
    padding-top: 5px;
}

.report .description {
    margin-left: -4px;
    width: 743px;
    margin-top: 34px;
}

.description .title {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.description .title a {
    text-decoration: none;
    color: #2d3e50;
}

.description .title a:hover {
    text-decoration: underline;
}

.description .text {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    padding: 10px 12px 30px 12px;
}

.content .events-history,
.content .events-archive {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    padding: 25px 35px 0 35px;
    color: #ffffff;
}

.content .events-history a {
    color: #ffffff;
}

.action .title {
    font-family: 'PT Sans', sans-serif;
    font-size: 27px;
    color: #ffffff;
    padding: 70px 35px 20px 35px;
}

.action .buttons button {
    width: 309px;
    height: 270px;
    vertical-align: top;
    background-color: #ffffff;
    border-radius: 5px;
    border-color: transparent;
    padding-top: 110px;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.action .buttons button:active {
    background-color: #f3f1f1;
}

.left-button .button-img,
.middle-button .button-img,
.right-button .button-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 35px;
}

.left-button .button-img:hover,
.middle-button .button-img:hover,
.right-button .button-img:hover {
    padding-top: 25px;
}

.action .buttons button img {
    display: block;
    margin: 0 auto;
}

.action .buttons button span {
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    color: #2d3e50;
    display: block;
    height: 57px;
    margin: 0 auto;
}

.buttons .left-button span {
    width: 170px;
}

.buttons .middle-button span {
    width: 250px;
}

.buttons .right-button span {
    width: 230px;
}

.buttons .middle-button {
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    height: 271px;
    background-color: #0c93a1;
    margin-top: 90px;
}

.footer .subscription {
    margin-top: 35px;
}

.subscription .title {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 12px;
}

.subscribe-form .input-email,
.field .small-input,
.field .wide-input,
.field .big-input {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: #2d3e50;
    width: 254px;
    height: 38px;
    background-color: #ffffff;
    border: solid 2px #aaf0f7;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.subscribe-form .input-email:focus,
.field .small-input:focus,
.field .wide-input:focus,
.field .big-input:focus {
    outline: none;
    border-color: #1a737c;
}

.subscribe-form .submit-button {
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    color: #2d3e50;
    width: 156px;
    height: 47px;
    margin-left: 17px;
    background-color: #aaf0f7;
    border: outset 1px #8adde6;
    border-radius: 5px;
    cursor: pointer;
}

.subscribe-form .submit-button:hover {
    background-color: #c3f9fe;
}

.subscribe-form .submit-button:active {
    background-color: #aaf0f7;
    /*border: inset 1px #8adde6;*/
}

.footer .tracking {
    margin-top: 31px;
    margin-left: 84px;
}

.tracking .title {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    height: 61px;
    line-height: 61px;
}

.tracking .social-ref {
    height: 61px;
    line-height: 61px;
}

.tracking .social-ref a img {
    margin-left: 5px;
}

.footer .site-minor-logo {
    width: 58px;
    height: 128px;
    margin-left: 33px;
    margin-top: 31px;
}

.footer .copyright {
    margin-top: 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

/*archive page*/

.past-event-program .program-header {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.past-event-program .order {
    font-size: 29px;
    font-weight: 700;
}

.past-event-program .date {
    font-size: 18px;
    font-weight: 700;
}

.past-event-program .location {
    font-size: 18px;
    font-weight: 700;
}

.past-event-program .location a {
    text-decoration: none;
    /*border-bottom: solid 1px;*/
    color: #ffffff;
}

.past-event-program .location a:hover {
    border-bottom: solid 1px;
}

.past-event-program .program-content {
    padding-bottom: 30px;
    padding-left: 4px;
}

.past-event-program .report {
    width: 319px;
    margin-left: -4px;
    min-height: 337px;
    margin-top: 22px;
    border-right: solid 1px #dedede;
    display: inline-block;
    vertical-align: top;
}

.past-event-program .reporter,
.past-event-program .description {
    display: block;
}

.past-event-program .reporter {
    margin-top: 9px;
    height: 207px;
    margin-left: auto;
    margin-right: auto;
}

.past-event-program .description {
    margin-top: 0;
    width: 276px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*report page*/

.detail-report .report-content {
    padding: 43px 50px;
}

.detail-report .reporter {
    height: 80px;
    position: relative;
}

.detail-report .reporter .photo {
    position: absolute;
    top: 0;
    padding-top: 0;
    width: 80px;
    height: 80px;
}

.detail-report .reporter .photo img {
    width: 80px;
    height: 80px;
}

.detail-report .reporter .name,
.detail-report .reporter .position {
    margin-left: 100px;
}

.detail-report .reporter .name {
    padding-top: 10px;
}

.detail-report .description {
    margin-top: 40px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

.report-content .presentation {
    margin-top: 40px;
}

.report-content .video {
    margin-top: 50px;
}

.report-content .reporter-other-reports {
    margin-top: 70px;
}

.reporter-other-reports .title {
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
}

.reporter-other-reports .refs a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #2d3e50;
}

.reporter-other-reports .refs a:hover {
    border-bottom: solid 1px;
}

/*reporter page*/

.reporter-review .review-content {
    padding: 43px 47px 0 47px;
}

.reporter-review .photo {
    padding-left: 20px;
}

.reporter-review .photo img {
    width: 190px;
    height: 190px;
}

.reporter-review .photo,
.reporter-review .short-description {
    display: inline-block;
    vertical-align: top;
}

.reporter-review .short-description {
    width: 592px;
    margin-left: 50px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    padding-top: 5px;
}

.short-description .position {
    padding-top: 10px;
    padding-bottom: 5px;
}

.short-description .position a {
    color: #00b7c8;
    text-decoration: none;
}

.short-description .position a:hover {
    border-bottom: solid 1px;
}

.review-content .reports-history {
    padding-top: 45px;
}

.reports-history .title {
    font-family: 'PT Sans', sans-serif;
    font-size: 27px;
    padding-bottom: 5px;
}

.reports-history .report {
    border-bottom: solid 1px #dedede;
    padding-bottom: 38px;
    padding-top: 33px;
}

.reporter-review .report .presentation,
.reporter-review .report .description {
    display: inline-block;
    vertical-align: top;
}

.reporter-review .report .presentation {
    width: 291px;
}

.reporter-review .report .description {
    width: 539px;
    margin-left: 20px;
    margin-top: 0;
}

.reporter-review .report .description .title {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15px;
}

.reporter-review .report .description .text {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 0;
}

/*to-reporters page*/

.content .invite {
    padding-top: 70px;
}

.invite .info,
.request .info {
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    color: #ffffff;
}

.request .info {
    font-size: 25px;
    padding: 40px 30px 0 30px;
}

.invite .join-button,
.request .join-button {
    padding-top: 50px;
    text-align: center;
}

.invite .join-button button,
.request .join-button button,
.apply-form .submit-button {
    background: #10b7c5;
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
    font-family: 'PT Sans', sans-serif;
    font-size: 29px;
    color: #ffffff;
    padding: 15px 40px;
    border: outset 1px #38c2cf;
    border-radius: 5px;
}

.invite .join-button button:hover,
.request .join-button button:hover,
.apply-form .submit-button:hover {
    background: #18cfdf;
    background: linear-gradient(to bottom, #18cfdf, #0ba9b7);
}

.invite .join-button button:active,
.request .join-button button:active,
.apply-form .submit-button:active {
    background: #0ba9b7;
    background: linear-gradient(to top, #18cfdf, #0ba9b7);
}

.recomendations .text ol {
    list-style: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 35px;
}

.text .list-num {
    border: solid 1px transparent;
    border-radius: 35px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background: #10b7c5;
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
    color: #ffffff;
    margin: 9px 25px 9px 9px;
}

.content .questions,
.content .contacts {
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    color: #ffffff;
    margin-top: 65px;
    margin-bottom: -40px;
}

.content .questions a,
.content .contacts a {
    text-decoration: none;
    color: #00e7fc;
    /*border-bottom: solid 1px;*/
}

.content .questions a:hover,
.content .contacts a:hover {
    border-bottom: solid 1px;
}

.content .questions {
    padding: 0 10px;
}

/*to-companies page*/

.content .advertisement {
    padding-top: 50px;
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
}

.advertisement .title {
    font-size: 35px;
}

.advertisement .text {
    font-size: 26px;
    padding-top: 40px;
}

.content .contacts {
    padding: 0 30px;
}

/*rules page*/

.content .about {
    padding-top: 70px;
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    color: #ffffff;
}

.about .project-name {
    color: #06eaff;
}

.text .long-line {
    display: inline-block;
    vertical-align: middle;
    width: 830px;
}

.events-archive a {
    text-decoration: none;
    color: #00e7fc;
}

.events-archive a:hover {
    border-bottom: solid 1px;
}

.recomendations .text a {
    text-decoration: none;
    color: #2d3e50;
}

.recomendations .text a:hover {
    border-bottom: solid 1px;
}

.text .blue-ref a {
    color: #00b7c8;
}

/*apply-for-report page*/

.form-content {
    font-family: 'PT Sans', sans-serif;
}

.form-content .info {
    font-size: 15px;
    padding: 20px 30px;
}

.attention {
    color: #f06009;
}

.form-content .field {
    padding: 5px 30px;
}

.field .left-label,
.field .top-label {
    font-size: 20px;
    font-weight: 700;
}

.field .left-label {
    display: inline-block;
    vertical-align: middle;
    width: 210px;
}

.field .top-label {
    display: block;
    padding-top: 10px;
}

.field .small-input {
    vertical-align: middle;
}

.field .wide-input,
.field .big-input {
    display: block;
    width: 860px;
}

.field .big-input {
    height: 150px;
}

.field .field-info {
    font-size: 15px;
}

.small-input + .field-info {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    padding-left: 20px;
}

.wide-input + .field-info,
.big-input + .field-info {
    display: block;
}

.apply-form .submit-button {
    margin: 15px 30px 20px 0;
    padding: 10px 30px;
    cursor: pointer;
}

.apply-form .reset-button {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.apply-form .reset-button:hover {
    border-bottom: solid 1px;
}

.apply-form .reset-button:active {
    border-bottom: none;
}

.apply-form .apply-response {
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    /*font-weight: 700;*/
    /*color: #f06009;*/
}

/*suggest page*/

.suggestion-form .field {
    font-size: 20px;
    line-height: 40px;
}

.suggestion-form .small-input {
    height: 35px;
    margin-left: 25px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="checkbox"] {
        background: url(../images/checkbox.png); /* Переключатель выключен */
        height: 18px; /* Высота картинки */
        width: 18px; /* Ширина картинки */
        -webkit-appearance: none; /* Прячем чекбокс */
        border: none;
        cursor: pointer; /* Курсор в виде руки */
    }
    input[type="checkbox"]:checked, input[type="radio"]:checked {
        background-position: 0 -18px; /* Переключатель включен */
        border: none;
    }
}

input {
    vertical-align: middle;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* guest form */
.guest-form-div {
    display: none;
}

.container-form-guest {
    position: absolute;
    top: 165px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 925px;
    z-index: 100;
}

.guest-form .field {
    font-size: 20px;
    line-height: 40px;
}

.container-form {
    background-color: #ffffff;
    border-radius: 10px 10px 5px 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.container-form-guest .title {
    font-family: 'PT Sans', sans-serif;
    font-size: 29px;
    color: #fefcf9;
    font-weight: 700;
    height: 87px;
    line-height: 87px;
    padding-left: 33px;
    padding-right: 33px;
    border-radius: 5px 5px 0 0;
    background: #10b7c5;
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
}

.label-field-jobPosition {
    display: block !important;
    width: 300px !important;
    padding-top: 45px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="radio"] {
        background: url(../images/radio-button.png); /* Переключатель выключен */
        height: 18px; /* Высота картинки */
        width: 18px; /* Ширина картинки */
        -webkit-appearance: none; /* Прячем чекбокс */
        border: none;
        cursor: pointer; /* Курсор в виде руки */
    }
    input[type="radio"]:checked {
        background-position: 0 -18px; /* Переключатель включен */
        border: none;
    }
}
.submit-button {
    background: #10b7c5;
    background: linear-gradient(to top, #0ba1ae, #10b7c5);
    font-family: 'PT Sans', sans-serif;
    font-size: 29px;
    color: #ffffff;
    padding: 15px 40px;
    border: outset 1px #38c2cf;
    border-radius: 5px;
}

.guest-form .submit-button {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.small-input-other {
    margin-left: 25px;
}

.form-close-button {
    height: 19px;
    width: 19px;
    float: right;
    margin: 10px;
    cursor: pointer;
    background: url(../images/close-button.png);
}

.overlay
{
    position: fixed;
    /*z-index: 0;*/
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
}