# Java files #
*.class
*.jar
*.war
*.ear

# IDE files #
.idea/
*.iml
*.sublime-*

# Other files and folders #
target/
out/
bin/
logs/
hidden.properties
password.properties
mailSender.properties
src/main/webapp/resources/temporary/photos/
