<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="appender1" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d{ABSOLUTE} %t/%c{1}:%M:%L %5p: %m%n"/>
        </layout>
    </appender>

    <appender name="appender2" class="org.apache.log4j.FileAppender">
        <param name="file" value="./logs/omsk-it/project.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d{ISO8601} %t/%c{1}:%M:%L %5p: %m%n"/>
        </layout>
    </appender>

    <root>
        <level value="INFO" />
        <appender-ref ref="appender1"/>
        <appender-ref ref="appender2"/>
    </root>
</log4j:configuration>
